@{
    ViewBag.Title = "Nutrient Intake Tables";
}
    <body background=" https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1831&q=80">
        <div class="jumbotron">
            <h1>Nutrient Intake Data</h1>
            <p class="lead">This page shows us the tables which represent the intake of different nutrients that different types of demographics of people have.</p>
            <p><a href="https://www.ers.usda.gov/webdocs/DataFiles/50590/nutrient_table2.xls?v=0" class="btn btn-primary btn-lg">Data Source &raquo;</a></p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>Cholestrol Intake</h2>
                <table border="1" cellpadding="10" style="background-color:azure">
                    <tr>
                        <td></td>
                        <td> &nbsp;Total&nbsp; </td>
                        <td> &nbsp;At Home&nbsp; </td>
                        <td> &nbsp;Restaurant&nbsp;</td>
                        <td> &nbsp;School&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;Total Population&nbsp;</td>
                        <td>&nbsp;129.62&nbsp;</td>
                        <td>&nbsp;124.10&nbsp;</td>
                        <td>&nbsp;185.75&nbsp;</td>
                        <td>&nbsp;111.14&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;Children&nbsp;</td>
                        <td>&nbsp;115.33&nbsp;</td>
                        <td>&nbsp;114.93&nbsp;</td>
                        <td>&nbsp;155.44&nbsp;</td>
                        <td>&nbsp;107.19&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;Adults&nbsp;</td>
                        <td>&nbsp;133.93&nbsp;</td>
                        <td>&nbsp;126.78&nbsp;</td>
                        <td>&nbsp;190.68&nbsp;</td>
                        <td>&nbsp;142.36&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;Lower Income&nbsp;</td>
                        <td>&nbsp;131.06&nbsp;</td>
                        <td>&nbsp;128.64&nbsp;</td>
                        <td>&nbsp;182.36&nbsp;</td>
                        <td>&nbsp;115.89&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;Higher Income&nbsp;</td>
                        <td>&nbsp;128.76&nbsp;</td>
                        <td>&nbsp;121.27&nbsp;</td>
                        <td>&nbsp;187.00&nbsp;</td>
                        <td>&nbsp;105.81&nbsp;</td>
                    </tr>
                </table>
            </div>


            <div class="col-md-4">
                <h2>Saturated Fat </h2>
                <table border="1">
                    <tr>
                        <td></td>
                        <td> &nbsp;Total&nbsp; </td>
                        <td> &nbsp;At Home&nbsp; </td>
                        <td> &nbsp;Restaurant&nbsp;</td>
                        <td> &nbsp;School&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;Total Population&nbsp;</td>
                        <td>&nbsp;11.24&nbsp;</td>
                        <td>&nbsp;10.71&nbsp;</td>
                        <td>&nbsp;12.40&nbsp;</td>
                        <td>&nbsp;12.63&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;Children&nbsp;</td>
                        <td>&nbsp;11.57&nbsp;</td>
                        <td>&nbsp;11.80&nbsp;</td>
                        <td>&nbsp;12.56&nbsp;</td>
                        <td>&nbsp;12.79&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;Adults&nbsp;</td>
                        <td>&nbsp;11.14&nbsp;</td>
                        <td>&nbsp;11.60&nbsp;</td>
                        <td>&nbsp;12.37&nbsp;</td>
                        <td>&nbsp;11.37&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;Lower Income&nbsp;</td>
                        <td>&nbsp;11.03&nbsp;</td>
                        <td>&nbsp;10.53&nbsp;</td>
                        <td>&nbsp;12.26&nbsp;</td>
                        <td>&nbsp;12.68&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;Higher Income&nbsp;</td>
                        <td>&nbsp;11.36&nbsp;</td>
                        <td>&nbsp;10.82&nbsp;</td>
                        <td>&nbsp;12.45&nbsp;</td>
                        <td>&nbsp;12.58&nbsp;</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <h2>Total Fat </h2>
                <table border="1" cellpadding="10" >
                    <tr>
                        <td></td>
                        <td> &nbsp;Total&nbsp; </td>
                        <td> &nbsp;At Home&nbsp; </td>
                        <td> &nbsp;Restaurant&nbsp;</td>
                        <td> &nbsp;School&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;Total Population&nbsp;</td>
                        <td>&nbsp;33.74&nbsp;</td>
                        <td>&nbsp;31.75&nbsp;</td>
                        <td>&nbsp;39.91&nbsp;</td>
                        <td>&nbsp;34.82&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;Children&nbsp;</td>
                        <td>&nbsp;33.07&nbsp;</td>
                        <td>&nbsp;31.24&nbsp;</td>
                        <td>&nbsp;37.75&nbsp;</td>
                        <td>&nbsp;34.61&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;Adults&nbsp;</td>
                        <td>&nbsp;33.94&nbsp;</td>
                        <td>&nbsp;31.89&nbsp;</td>
                        <td>&nbsp;40.26&nbsp;</td>
                        <td>&nbsp;36.47&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;Lower Income&nbsp;</td>
                        <td>&nbsp;32.90&nbsp;</td>
                        <td>&nbsp;31.03&nbsp;</td>
                        <td>&nbsp;39.44&nbsp;</td>
                        <td>&nbsp;34.30&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;Higher Income&nbsp;</td>
                        <td>&nbsp;34.23&nbsp;</td>
                        <td>&nbsp;32.20&nbsp;</td>
                        <td>&nbsp;40.08&nbsp;</td>
                        <td>&nbsp;35.41&nbsp;</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <h2>Sodium </h2>
            <table border="1" cellpadding="10" style="background-color:azure">
                <tr>
                    <td></td>
                    <td> &nbsp;Total&nbsp; </td>
                    <td> &nbsp;At Home&nbsp; </td>
                    <td> &nbsp;Restaurant&nbsp;</td>
                    <td> &nbsp;School&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;Total Population&nbsp;</td>
                    <td>&nbsp;1648.70&nbsp;</td>
                    <td>&nbsp;1551.83&nbsp;</td>
                    <td>&nbsp;2088.13&nbsp;</td>
                    <td>&nbsp;1723.84&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;Children&nbsp;</td>
                    <td>&nbsp;1601.04&nbsp;</td>
                    <td>&nbsp;1529.94&nbsp;</td>
                    <td>&nbsp;1895.43&nbsp;</td>
                    <td>&nbsp;1703.80&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;Adults&nbsp;</td>
                    <td>&nbsp;1663.06&nbsp;</td>
                    <td>&nbsp;1558.22&nbsp;</td>
                    <td>&nbsp;2119.52&nbsp;</td>
                    <td>&nbsp;1882.17&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;Lower Income&nbsp;</td>
                    <td>&nbsp;1611.80&nbsp;</td>
                    <td>&nbsp;1525.76&nbsp;</td>
                    <td>&nbsp;2035.57&nbsp;</td>
                    <td>&nbsp;1694.77&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;Higher Income&nbsp;</td>
                    <td>&nbsp;1670.01&nbsp;</td>
                    <td>&nbsp;1568.11&nbsp;</td>
                    <td>&nbsp;2107.58&nbsp;</td>
                    <td>&nbsp;1756.43&nbsp;</td>
                </tr>
            </table>
        </div>
</body>


